*{
    cursor: pointer;
}
.navigation-area {
    display: grid;
    grid-template-columns: repeat(3, 25%);
    height: 5vh;
}

.main-list {
    /* width: 100vh; */
    display: flex;
    justify-content: space-between;
}

.dropdown {
    background-color: rgb(148, 193, 227);
    /* border-radius: 10px; */
    margin-left: 1.5vh;
    text-align: start;
    width: 40%;
    z-index: 12;
}
li{
    text-emphasis: none;
}